<div>
    <h2 id="page-heading">
        <span>Member Orders</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-member-order" [routerLink]="['/member-order/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Member Order
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="memberOrders">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="orderId"><span>Order Id</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="status"><span>Status</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="first"><span>First</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="amount"><span>Amount</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="tcaMember.id"><span>Tca Member</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let memberOrder of memberOrders ;trackBy: trackId">
                <td><a [routerLink]="['/member-order', memberOrder.id, 'view' ]">{{memberOrder.id}}</a></td>
                <td>{{memberOrder.orderId}}</td>
                <td>{{memberOrder.status}}</td>
                <td>{{memberOrder.first}}</td>
                <td>{{memberOrder.amount}}</td>
                <td>
                    <div *ngIf="memberOrder.tcaMember">
                        <a [routerLink]="['../member', memberOrder.tcaMember?.id, 'view' ]" >{{memberOrder.tcaMember?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/member-order', memberOrder.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/member-order', memberOrder.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'member-order', { outlets: { popup: memberOrder.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
